html,body{
background-color: rgb(0, 0, 0);
background-size: cover;
font-family: 'Permanent Marker', cursive;
font-size: 25px;

}

.save-note {
    display: none;
  }
  
  .icons i {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .note-textarea, .note-title {
    color: black;
    width: 100%;
    outline: none;
    border: none;
  }
  
  
  .note-title {
    height: 50px;
    margin-top: 13px;

  }


  .list-container {
    padding-left: 0;
    background-position: center;
    
  }

  
  .list-container i {
    font-size: 1.1rem;
    cursor: pointer;
    
  }
  
  .list-container .list-group-item {
    border-left: none;
    border-right: none;
    padding: 20px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

  }
  
